.odd{
	background-color:green;
	
		justify-content:center; 
	padding:50px;
}
.holder{
	display:flex;
	flex-wrap:wrap;
	padding:20px;
justify-content:space-between;
	
}


.blue{
	background-color:blue;
	
		justify-content:center; 
	padding:50px;
	
	
}

.red{
	background-color:red;
	
		justify-content:center; 
	padding:50px;
	
}


